p::first-letter {
  font-size: 130%;
}

.lorem::first-line {
    color: blue;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

li::before {
    content: "✿";
    padding-right: 7px;
    color: red;
   }

   blockquote {
    background: #f9f0de; 
    border-left: 2px solid #0083ca; 
    padding: 1em; 
   }
   blockquote::before,
   blockquote::after {
    content: "“"; 
    font-size: 40px; 
    color: #c1172c; 
    line-height: 0; 
   }
   blockquote::after {
    content: "”"; 
   }