section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-control-prev-icon {
    background-image: url(../img/left-arrow.svg);
}

.carousel-control-next-icon {
    background-image: url(../img/right-arrow.svg);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 20px;
}

.carousel-control-prev {
    left: -35px;
}

.carousel-control-next {
    right: -35px;
}